.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  border-top: $footer-border-top;
  background-color: $footer-background-color;
  height: auto;
  padding: 2em;
  color: $footer-text-color;
  font-weight: 900;
}

.footer a {
  color: $footer-text-color;
  text-decoration: none;
}

.footer > div {
  text-align: center;
}

.footer .social {
  font-size: 2.5rem;
  padding: 10px;
}
